body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

footer {
    flex: 1 0 auto;
}

#career{
  color: #039be5;
}

#image{
	width: 250px;
}

#me{
	font-family: arial;
}

#social{
	font-size: 30px;
}
